<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Sua loja especializada em tecnologia! Aqui, você encontra computadores, acessórios e soluções completas para todas as suas necessidades digitais. 
                Oferecemos equipamentos de última geração, suporte técnico qualificado e atendimento personalizado para garantir a melhor experiência em tecnologia. 
                Seja para trabalho, estudos ou lazer, temos a solução ideal para você!
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> leduart@gmail.com</li>
                <li><i class="fa-solid fa-phone"></i> (17) 98169-1317</li>
                <li><i class="fa-brands fa-whatsapp"></i> (17) 98169-1317</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>